body
{
    font-family: 'Open Sans', sans-serif;
    background-color: #2F3336;
    margin: 0;
}

#scroll-up
{
    display: none;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    border-radius: 30px;
    background-color: #FF8853;
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 30px;
    font-weight: 700;
    color: white;
    cursor: pointer;
    user-select: none;
}

#scroll-up:hover
{
    background-color: #FE6019;
}

.logo
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo__title
{
    color: white;
    font-weight: 600;
    font-size: 64px;
    margin: 0px 40px 0px 0px;
}

.logo__img
{
    width: 128px;
    height: 128px;
    animation: bike 12s infinite forwards;
}

.navigation
{
    background-color: #FF8853;
    border-radius: 30px;
    margin-bottom: 50px;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.navigation__list
{
    list-style-type: none;
    color: white;
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    padding: 5px 80px 5px 80px;
}

.navigation__item
{
    display: inline-block;
    padding: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.navigation__item--current
{
    
    background-color: #FE6019;
    border-radius: 10px;
}

.navigation__item:hover
{
    background-color: #FE6019;
    border-radius: 10px;
}

.navigation__item:hover .sub-list
{
    display: block;
    position: absolute;
}

.navigation__link
{
    text-decoration: none;
    color:white;
}

.navigation__link--current
{
    font-weight: 700;
}

.sub-list
{
    display: none;
    background-color: #FF8853;
    width: 200px;
    border-radius: 0px 0px 14px 14px;
    margin-top: 10px;
    margin-left: -9px;
    z-index: 3;
}

.sub-list__list
{
    list-style-type: none;
    text-align: center;
    padding: 0px;
}

.sub-list__item
{
    display: block;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}

.sub-list__item:hover
{
    background-color: #FE6019;
}

.regular-text
{
    color: white;
    font-size: 20px;
    font-weight: 300;
    text-align: center;
    margin-top: 10px;
}

.regular-list
{
    display: flex;
    justify-content: center;
    color: white;
    font-size: 20px;
}

.section-title
{
    color: #FE6019;
    font-size: 40px;
    font-weight: 600;
    text-align: center;
}

.section-title--smaller
{
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 25px;
    font-weight: 400;
}

.wrapper
{
    width: 900px;
    margin-left: auto;
    margin-right: auto;
}

.boxes
{
    display: flex;
    justify-content:space-around;
    align-items: center;
    margin-top: 60px;
    margin-bottom: 60px;
}

.boxes__bike
{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #242729;
    box-shadow: 0 0 25px -10px black;
    border-width: 0;
    opacity: 0.9;
    border-radius: 20px;
    width: 256px;
    height: 256px;
}

.boxes__bike--big
{
    width: 300px;
    height: 300px;
}

.boxes__img
{
    max-width: 80%;
}

.boxes__title
{
    color: white;
    text-align: center;
    opacity: 0.8;
    font-size: 20px;
    font-weight: 300;
    margin-top: 10px;
}

.boxes__title--bold
{
    font-size: 22px;
    opacity: 1;
    font-weight: 600;
}

.boxes__bike:hover
{
    transition-delay: 100ms;
    opacity: 1;
}

.arrow
{
    display: flex;
    opacity: 0.8;
    margin: 60px auto 60px auto;
}

.bike-build__title
{
    color: #FE6019;
    font-size: 40px;
    font-weight: 300;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.bike-build__box
{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    background-color: #242729;
    box-shadow: 0 0 25px -10px black ;
    border-width: 0;
    border-radius: 20px;
}

.bike-build__img
{
    max-width: 90%;
}

footer
{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1d1f21;
    color: white;
    font-size: 16px;
    margin-top: 60px;
    height: auto;
    width: 100%;
}

.activity
{
    width: 100%;
    height: auto;
    border-width: 0;
    border-radius: 30px;
    background-color: #242729;
    box-shadow: 0 0 25px -10px black;
    margin-top: 80px;
    opacity: 0.8;
    cursor: pointer;
}

.activity__top
{
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    max-height: 500px;
    display: flex;
    align-items: center;
}

.activity__bottom
{
    display: none;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

.activity__logo
{
    max-height: 450px;
    border-radius: 20px;
    margin-left: 20px;
}

.activity__text
{
    max-width: 400px;
    margin: 0px auto 0px auto;
}

.activity__title
{
    color: #FE6019;
    font-size: 30px;
    font-weight: 600;
}

.activity__description
{
    color: white;
    font-size: 22px;
    text-align: start;
}

.activity__point
{
    padding-top: 12px;
}

.activity__media
{
    width: 250px;
    height: 50px;
    margin: 10px;
}

.gallery
{
    display: flex;
    flex-wrap: wrap;
    max-width: 900px;
    justify-content: center;
    margin-bottom: 15px;
}

.gallery__link
{
    display: flex;
    justify-content: center;
}

.gallery__img
{
    border-radius: 8px;
    margin: 15px 10px 15px 10px;
}

.gallery__img--horizontal
{
    max-width: 85%;
}

.gallery__img--vertical
{
    max-height: 300px;
}

.questions
{
    display: inline;
}

.questions__name
{
    color: white;
    font-size: 20px;
    font-weight: 300;
    margin-right: 20px;
}

.questions__name::first-letter
{
    text-transform: uppercase;
}

.questions__row
{
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.questions__row .questions__name:last-child
{
    margin-right: 0px;
}

.questions__field
{
    margin-right: 10px;
    border-radius: 8px;
}

.questions__button
{
    opacity: 0.8;
    height: 50px;
    width: 120px;
    font-weight: 600;
    font-size: 22px;
    text-align: center;
    border-radius: 10px;
    border-width: 0px;
    margin-right: 20px;
}

.questions__button:hover
{
    opacity: 1;
}

.questions__row .questions__button:last-child
{
    margin-right: 0px;
}

#questions__text
{
    border-radius: 10px;
}

.table
{
    margin: 0px auto 0px auto;
    color:white;
    text-align: center;
    background-color: white;
}

.table__row td, th
{
    background-color: #2F3336;
    padding: 10px;
    font-size: 18px;
}

.questions__img
{
    width: 256px;
    height: 256px;
    margin: 200px auto 0px auto;
}


@keyframes bike {
    0%{
        transform: translateX(0);
    }
    10%{
        color: rgb(252, 162, 162);
        transform: translateX(215px) scale(0.5) translateY(100px);
    }
    20%{
        transform: translateX(215px) scale(0.5) translateY(100px) rotate(90deg);
    }
    30%{
        transform: translateX(215px) translateY(180px) scale(0.5) rotate(90deg);
    }
    40%{
        transform: translateX(215px) translateY(180px) scale(0.5) rotate(180deg);
    }
    50%{
        transform: translateX(-845px) translateY(180px) scale(0.5) rotate(180deg);   
    }
    60%{
        transform: translateX(-845px) translateY(180px) scale(0.5) rotate(270deg);
    }
    70%{
        transform: translateX(-845px) translateY(50px) scale(0.5) rotate(270deg);
    }
    80%{
        transform: translateX(-845px) translateY(50px) scale(0.5);
    }
}

@media (max-width: 500px)
{
    #scroll-up
    {
        font-size: 20px;
        width: 32px;
        height: 32px;
        z-index: 3;
    }

    .logo__title
    {
        font-size: 32px;
        margin: 8px;
    }

    .logo__img
    {
        display: none;
    }

    .wrapper
    {
        width: 90%;
    }

    .navigation
    {
        width: 100%;
        position: sticky;
        top: 0px;
        border-radius: 0px 0px 10px 10px;
        z-index: 3;
    }

    .navigation__list
    {
        font-size: 12px;
        padding: 0px;
    }

    .navigation__item
    {
        margin: 0px;
    }

    .sub-list
    {
        width: 100px;
    }

    .regular-text
    {
        font-size: 12px;
    }

    .section-title
    {
        font-size: 20px;
    }

    .section-title--smaller
    {
        font-size: 15px;
    }

    .boxes__bike
    {
        width: 90px;
        height: 90px;
        border-radius: 12px;
    }
    
    .boxes__bike--big
    {
        width: 130px;
        height: 130px;
    }

    .arrow
    {
        margin-top: 0px;
        margin-bottom: 60px;
        height: 120px;
    }

    .table td,th
    {
        font-size: 9px;
    }
    
    .regular-list
    {
        font-size: 12px;
    }

    .activity
    {
        width: 100%;
        height: auto;
        padding: 0px;
        margin-top: 30px;
    }

    .activity__logo
    {
        height: 180px;
        margin-left: 10px;
    }

    .activity__top
    {
        height: 200px;
        padding: 0px;
        align-items: center;
    }

    .activity__title
    {
        font-size: 12px;
        text-align: center;
    }

    .activity__point
    {
        font-size: 9px;
        padding-top: 2px;
    }

    .activity__media
    {
        width: 150px;
    }

    .gallery__img--vertical
    {
        width: 80px;
    }

    footer
    {
        font-size: 12px;
    }

    .questions__name
    {
        font-size: 15px;
    }

    .questions__field
    {
        width: 150px;
    }

    .questions__button
    {
        font-size: 18px;
        width: 100px;
    }
}