body
{
    font-family: 'Open Sans', sans-serif;
    background-color: #2F3336;
    margin: 0;
}

.logo
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo__title
{
    color: white;
    font-weight: 600;
    font-size: 64px;
    margin: 0px 40px 0px 0px;
}

.logo__img
{
    width: 128px;
    height: 128px;
    animation: bike 12s infinite forwards;
}

.navigation
{
    background-color: #FF8853;
    border-radius: 30px;
    margin-bottom: 50px;
    min-width: 1000px;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.navigation__list
{
    list-style-type: none;
    color: white;
    text-align: center;
    font-size: 24px;
    font-weight: 600; 
    padding: 5px 80px 5px 80px;
}

.navigation__item
{
    display: inline-block;
    padding: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.navigation__item--current
{
    
    background-color: #FE6019;
    border-radius: 10px;
}

.navigation__item:hover
{
    background-color: #FE6019;
    border-radius: 10px;
}

.navigation__item:hover .sub-list
{
    display: block;
    position: absolute;
}

.navigation__link
{
    text-decoration: none;
    color:white;
}

.navigation__link--current
{
    font-weight: 700;
}

.sub-list
{
    display: none;
    background-color: #FF8853;
    width: 200px;
    border-radius: 0px 0px 14px 14px;
    margin-top: 10px;
    margin-left: -9px;
}

.sub-list__list
{
    list-style-type: none;
    text-align: center;
    padding: 0px;
}

.sub-list__item
{
    display: block;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}

.sub-list__item:hover
{
    background-color: #FE6019;
}

.regular-text
{
    color: white;
    font-size: 20px;
    font-weight: 300;
    text-align: center;
    margin-top: 10px;
}

.section-title
{
    color: #FE6019;
    font-size: 40px;
    font-weight: 300;
    text-align: center;
}

.section-title--smaller
{
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 25px;
}

.wrapper
{
    width: 900px;
    margin-left: auto;
    margin-right: auto;
}

.boxes
{
    display: flex;
    justify-content:space-around;
    align-items: center;
    margin-top: 60px;
    margin-bottom: 60px;
}

.boxes__bike
{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #242729;
    box-shadow: 0 0 25px -10px black;
    border-width: 0;
    opacity: 0.9;
    border-radius: 20px;
    width: 256px;
    height: 256px;
}

.boxes__bike--big
{
    width: 300px;
    height: 300px;
}

.boxes__img
{
    max-width: 80%;
}

.boxes__title
{
    color: white;
    text-align: center;
    opacity: 0.8;
    font-size: 20px;
    font-weight: 300;
    margin-top: 10px;
}

.boxes__title--bold
{
    font-size: 22px;
    opacity: 1;
    font-weight: 600;
}

.boxes__bike:hover
{
    transition-delay: 100ms;
    opacity: 1;
}

.arrow
{
    display: flex;
    opacity: 0.8;
    margin: 60px auto 60px auto;
}

.bike-build__title
{
    color: #FE6019;
    font-size: 40px;
    font-weight: 300;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.bike-build__box
{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #242729;
    box-shadow: 0 0 25px -10px black ;
    border-width: 0;
    border-radius: 20px;
}

.bike-build__img
{
    max-width: 90%;
}

footer
{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1d1f21;
    color: white;
    margin-top: 60px;
    height: 50px;
}

.activity
{
    cursor: pointer;
    width: 100%;
    height: 500px;
    border-width: 0;
    border-radius: 30px;
    background-color: #242729;
    box-shadow: 0 0 25px -10px black;
    margin-top: 60px;
    opacity: 0.9;
    transition: height .35s ease-in-out;
}

.activity__top
{
    width: 100%;
    margin: 25px 0px 25px 0px;
    max-height: 500px;
    display: flex;
    align-items: center;
}

.activity__bottom
{
    display: none;
    max-height: 300px;
    width: 100%;
}

.activity__logo
{
    max-height: 450px;
    border-radius: 20px;
    margin-left: 20px;
}

.activity__img
{
    border-radius: 8px;
    margin: 15px 10px 15px 10px;
}


.activity__img--horizontal
{
    max-width: 85%;
}

.activity__img--vertical
{
    max-height: 300px;
}

.activity__text
{
    max-width: 400px;
    margin: 0px auto 0px auto;
}

.activity__title
{
    color: #FE6019;
    font-size: 30px;
    font-weight: 600;
}

.activity__description
{
    color: white;
    font-size: 22px;
    text-align: start;
}

.activity__point
{
    padding-top: 12px;
}

.activity:focus .activity__bottom, .activity:focus-within .activity__bottom
{
    display: inline;
}

.activity:focus, .activity:focus-within
{
    cursor: default;
    height: auto;
    opacity: 1;
}

.activity__media
{
    width: 250px;
    height: 50px;
    margin: 10px;
}

.activity__gallery
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 900px;
    margin-bottom: 25px;
}

.questions
{
    display: inline;
}

.questions__name
{
    color: white;
    font-size: 20px;
    font-weight: 300;
    margin-right: 20px;
}

.questions__row
{
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.questions__row .questions__name:last-child
{
    margin-right: 0px;
}

.questions__field
{
    margin-right: 10px;
    border-radius: 8px;
}

.questions__button
{
    height: 50px;
    width: 120px;
    font-weight: 600;
    font-size: 22px;
    text-align: center;
    border-radius: 10px;
    border-width: 0px;
    margin-right: 20px;
}

.questions__row .questions__button:last-child
{
    margin-right: 0px;
}

#questions__text
{
    border-radius: 10px;
}

@keyframes bike {
    0%{
        transform: translateX(0);
    }
    10%{
        color: rgb(252, 162, 162);
        transform: translateX(215px) scale(0.5) translateY(100px);
    }
    20%{
        transform: translateX(215px) scale(0.5) translateY(100px) rotate(90deg);
    }
    30%{
        transform: translateX(215px) translateY(180px) scale(0.5) rotate(90deg);
    }
    40%{
        transform: translateX(215px) translateY(180px) scale(0.5) rotate(180deg);
    }
    50%{
        transform: translateX(-845px) translateY(180px) scale(0.5) rotate(180deg);   
    }
    60%{
        transform: translateX(-845px) translateY(180px) scale(0.5) rotate(270deg);
    }
    70%{
        transform: translateX(-845px) translateY(50px) scale(0.5) rotate(270deg);
    }
    80%{
        transform: translateX(-845px) translateY(50px) scale(0.5);
    }
}